*{margin: 0;
padding: 0;
box-sizing: border-box;}

html{font-size: 62.5%;}


.bg{background-color: #270082;
color: white;
padding: 20px 0;
height:100px ;}


body{font-family: Roboto;}

.tunes{font-size: 3.2rem;}

.nav-items{font-size: 1.8rem;
font-weight: 300;}

li{list-style: none;}

.box{position: sticky;
    top: 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);}


.list {
        border-bottom: 2px solid transparent;
        transition: 0.2s ease-in-out;
      }

.list:hover {
        border-bottom: 2px solid white;
        transition: 0.2s ease-in-out;}


.bg-img1{background-image: url(./Assets/hero_image.png);
min-height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: grid;
  color: white;
place-items: center;
  text-align: center;}        


.heading{font-size: 9.6rem;}

.line{font-size: 3.2rem;}



.box-2{display: flex;
    flex-direction: column;
    gap: 30px;}