*{margin: 0;
padding: 0;
box-sizing: border-box;}

html{font-size: 62.5%;}


.bg{background-color: #270082;
color: white;
padding: 20px 0;
height:100px ;}


body{font-family: Roboto;
line-height: 1.4;}

.tunes{font-size: 3.2rem;}

.nav-items{font-size: 1.8rem;
font-weight: 300;}

li{list-style: none;}

.box{position: sticky;
    top: 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  z-index: 100;}


.list {
        border-bottom: 2px solid transparent;
        transition: 0.2s ease-in-out;
      }

.list:hover {
        border-bottom: 2px solid white;
        transition: 0.2s ease-in-out;}


.bg-img1{background-image: url(./Assets/hero_image.png);
min-height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: grid;
  color: white;
place-items: center;
  text-align: center;}        


.heading{font-size: 9.6rem;}

.line{font-size: 3.2rem;}



.box-2{display: flex;
    flex-direction: column;
    gap: 30px;}

.bg-2{background-color: #281154;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: white;}


.button{background-color: #dc0000;
color: white;
border: 1px solid #dc0000;
padding: 5px 10px;
font-size: 1.3rem;
align-content: center;
}    


.button:hover{background-color: rgb(253, 45, 45)}

.music-box{max-width: 1200px;
    margin: 0 auto;}


.ipad-iphone-img {
        margin-top: -400px;
        position: relative;
        top: 400px;
      }    
      


.about-music {       
padding-top: 500px;
display: grid;
place-items: center;
gap: 50px;
text-align: center;
margin-bottom: 50px;}      




.button-2{background-color: #270082;
  color: white;
  border: 1px solid #270082;
  padding: 5px 10px;
  font-size: 1.3rem;
  align-content: center;}
  
.button-2:hover{background-color: #4e10df;}  
  



.bg-img2{background-image: url(./Assets/video.png);
background-position: center;
background-size: cover;
min-height: 100vh;
display: grid;
  color: white;
place-items: center;
  text-align: center;}

